<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friendship requests</title>
</head>
<body>
  {% block content %}
  <h2>Friendship requests</h2>
  {% if requests %}
    <ul>
    {% for request in requests %}
      <li>
        {{ request.from_user.username }} wants to be friends!
        <a href="{% url 'accept_friend_request' request.id %}">Accept</a>
        <a href="{% url 'reject_friend_request' request.id %}">Reject</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No friendship requests.</p>
  {% endif %}
  {% endblock %}
</body>
</html>