<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends list</title>
</head>
<body>
  {% block content %}
  <h2>Friends</h2>
  {% if friends %}
    <ul>
    {% for friend in friends %}
      <li>
        <a href="{% url 'user_profile' friend.username %}">{{ friend.username }}</a>
        <a href="{% url 'remove_friend' friend.id %}">Remove</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No friends yet.</p>
  {% endif %}
  {% endblock %}
</body>
</html>